* {
    margin: 0px;
    padding: 0px;
}
body {
    padding: 0;
    display: block;
}

/*Header----------------*/
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav {
    width: 50%;
    margin: auto;
}
.nav-list .left, .nav-list .right {
    width: 8%;
    
    margin: auto;
}
.nav-list li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 10px;
    border-radius: 40px;
}
.nav-list li a:visited{
    color: black;
}
.nav-list li a:active {
    border-bottom: 1px black solid;
}
.nav-list li a:hover {
    background-color: lightgray;

}
header {
    padding: 10px 10px;
    border-bottom: 2px lightgray solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;

}
header img{
    width: 100px;
    margin-left: 10%;
}
header h1, header p {
    text-align: left;
}
header h1 {
    font-size: 16px;
}
header p {
    font-size: 12px;
}
/*--------End of Header/ Begining of Home--------*/
.home {
    background: url(./images/nature-bg.jpg) no-repeat center center fixed; 
    min-height: 700px;
    min-width: auto;
  


    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home div {
    text-align: center;
}
.scroll{
    margin-top: 25%;
}
/*------------End of home*/
.div1, .div2, .div3 {
    padding: 10px;
}
/*-----About*/
.div1 {
    display: flex;
    flex-direction: row;
}
#about {
    text-align: center;
    margin-top: 25px;
}
.self {
    padding: 10px;
}
.self img {
    width: 100%;
}

.bio {
    padding: 20px;
}
.div1 h2 {
    display: block;
}

.self {
    width: 30%;
}
.bio {
    width: 50%;
}

/*------Portfolio----*/


.project img:hover {
    cursor:grab;
}
.project img:active {
    cursor: grabbing;
}
.div2 h2{
    text-align: center;
}
.div2 .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    
}
.flex-container div {
    width: 40%;
    margin: 10px;
    max-width: 400px;
    
}

.flex-container div img {
    width: 100%;
}
.one {
    background-image: url('./images/chim.jpeg');
    background-size: cover;
    padding: 10px;
}
.one:hover {
    background-image: url('./images/chim.jpeg');
    background-size: cover;
    opacity: .2;
    cursor:grab;
}
.one-p, .one-h2{
    display: none;
}




/* CONTACT----------------*/
.div3 {
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}
.icons a{
    width: 25%;
    display: flex;
    justify-content: center;
}
.icons img {
    border: 4px white solid;
    border-radius: 100px;
}
.icons img:hover {
    border: 4px yellow solid;
    border-radius: 100px;
}
    